body{
    color: #D3DAD9;
    background-color: #37353E;
    margin: 0 auto;
    width: 100vw;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.enlaces{
    margin: 0 auto;
    width: 100vw;
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}
a{text-decoration: none;
color: #456882;}

