*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

.heading {
  font-size: 24px;
  background-color: #ddd;
  /* padding: 48px; */
  /* padding: 2em; */
  padding: 2rem;
  height: 100vh;
  color: rgba( red red red 1);
}
