body{
    margin: 0 auto;
    background-color: lightgrey;
    width: 100vw;
}


div.login{
    transition: all 0.3s ease;
    margin: 0 auto;
    background-color: aliceblue;
    width: 30vw;
    text-align: center;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1em;
    margin-top: 5em;
    border-radius: 0.7em;
    box-shadow: 4px 4px 10px gray;
}

div.login:hover{
    transform: scale(1.01);
}

div.login input{
    font-size: xx-large;
    margin: 10px;
    width: 25vw;
    border-radius: 0.2em;
}



.entrar{
    cursor: pointer;
}

button{
    font-size: xx-large;
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    transition: all 0.2s ease-in-out;
    filter: drop-shadow(2px 2px 2px gray);
}

button#ver:hover{
    scale: 1.2;
}

#banner{
    position: fixed;
    bottom: 0;
    left: 30vw;
    width: 40vw;
    padding: 1em;
    margin: 0 auto;
    font-size: xx-large;
    background-color: aliceblue;
    border-radius: 0.7em;
    transition: all 0.2s ease-in-out;
    box-shadow: 4px 4px 10px gray;
}

#banner:hover{
    transform: scale(1.01);
}

button#aceptar{
    margin-left: 1em;
    font-size: x-large;
    border-radius: 0.2em;
    border: 1px solid gray;
    background-color: lightgray;
    padding: 0.5rem;
}

button#aceptar:hover{
    background-color: rgb(184, 182, 182);
}   