body{
    margin: 0 auto;
    background-color: lightgrey;
    width: 100vw;
}


div.login{
    transition: all 0.3s ease;
    margin: 0 auto;
    background-color: aliceblue;
    width: 30vw;
    text-align: center;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1em;
    margin-top: 5em;
    border-radius: 0.7em;
    box-shadow: 4px 4px 10px gray;
}

div.login:hover{
    transform: scale(1.01);
}

div.login input{
    font-size: xx-large;
    margin: 10px;
    width: 25vw;
    border-radius: 0.2em;
}



.entrar{
    cursor: pointer;
}

button{
    font-size: xx-large;
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    transition: all 0.2s ease-in-out;
}

button#ver:hover{
    scale: 1.2;
}