body{
    background-color: lightgray;
}

div{
    transition: all 0.3s ease;
    background-color: aliceblue;
    margin: 0 auto;
    width: 40vw;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    border-radius: 0.7em;
    margin-top: 5em;
    box-shadow: 4px 4px 10px gray;
    padding: 5em;
}

div:hover{
    transform: scale(1.10);
}

div button{
    font-size: xx-large;
    margin: 1em;
    padding: 1em;
    border-radius: 0.2em;
}

.dark{
    background-color: black;
    color: white;
}