body{
    margin: 0 auto;
    background-color: lightgrey;
    width: 100vw;
}

div{
    transition: all 0.3s ease;
    margin: 0 auto;
    background-color: aliceblue;
    width: 30vw;
    text-align: center;
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1em;
    margin-top: 5em;
    border-radius: 0.7em;
    box-shadow: 4px 4px 10px gray;
}

div:hover{
    transform: scale(1.10);
}

div input{
    font-size: x-large;
    margin: 10px;
    width: 25vw;
    border-radius: 0.2em;
}
.crear{
    cursor: pointer;
}